/**
 * CSS variables for Predix Light Theme
 */

 @import "px-colors-design/_settings.colors.scss";


 html {
   // boxplot chart
   --px-vis-box-whisker-fill-color: $violet1;
   --px-vis-box-whisker-stroke-color: $violet1;
   --px-vis-box-whisker-median-color: $yellow-green6;
   --px-vis-box-whisker-mean-color: $gray18;
   --px-vis-box-whisker-outlier-color: $violet1;

   // threshold
   --px-vis-threshold-color: $orange6;

   // grid lines
   --px-vis-gridlines-color: $gray15;

   // axis
   --px-vis-axis-color: $gray10;
   --px-vis-axis-title-color: $gray5;
 }
